{% include 'base.html' %}

{% block replace_content %}
<form action="{% url 'search_location' %}" method="GET">
    {% csrf_token %}
    <input name="location_key" />
    <input type="submit" value="Get Weather"/>
</form>

<ul class="list-group">
    {% for loc_key, value in location_dict.items %}
        <li><a href="{% url 'weather_home' loc_key value %}">{{ value }}</a></li></li>
    {% endfor %}
</ul>


    {% for weather_obj in weather %}
    <div class="card"></div>
        <div class="card-body">
            <h5 class="card-title">{{ weather_obj.area_name }}</h5>
            <p class="card-text">{{ weather_obj.temperature }}</p>
        </div>
    </div>
    {% endfor %}

{% endblock %}